In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/astro-bitsp/test_data.csv
/kaggle/input/astro-bitsp/train_data.csv
/kaggle/input/astro-bitsp/sample_submission.csv
/kaggle/input/astro-bitsp/ProblemDescription.pdf

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
train_df = pd.read_csv('../input/astro-bitsp/train_data.csv')
test_df = pd.read_csv('../input/astro-bitsp/test_data.csv')
test_df.head()

,Unnamed: 0,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid
0,8000,1.237650e+18,227.375806,-0.771168,16.99624,15.53884,14.83586,14.42628,14.12664,752,301,2,560,3.502110e+17,0.037770,311,51665,203
1,8001,1.237650e+18,238.431007,53.576358,18.67881,17.75691,17.48336,17.36665,17.35294,1345,301,6,552,7.553760e+18,-0.000642,6709,56429,354
2,8002,1.237650e+18,158.531844,0.381310,19.29484,18.08970,17.59773,17.33928,17.18477,756,301,4,285,3.075220e+17,0.032200,273,51957,550
3,8003,1.237650e+18,209.293640,-0.832522,19.01460,17.33462,16.45423,16.02605,15.67589,752,301,2,439,3.389300e+17,0.089099,301,51942,123
4,8004,1.237650e+18,118.356384,44.405038,17.71843,16.80586,16.52990,16.41602,16.37861,1402,301,4,86,4.139030e+18,-0.000817,3676,55186,800

In [4]:
from sklearn.model_selection import  cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [5]:
x= train_df[['u','g','r','i','z','redshift']]
y= train_df['class']

In [6]:
subm = pd.read_csv('../input/astro-bitsp/sample_submission.csv')
subm.head()

     id  class
0  8000      1
1  8001      1
2  8002      1
3  8003      1
4  8004      1

In [7]:
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x,y)
y_pred=knn.predict(test_df[['u','g','r','i','z','redshift']])
subm['class'] = y_pred

In [8]:
subm['class'].value_counts()

1    957
0    875
2    168
Name: class, dtype: int64

In [9]:
subm.to_csv('submission1.csv', index= False)